data/genteFit_schema.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           targetNamespace="http://example.org/gentefit"
           xmlns="http://example.org/gentefit"
           elementFormDefault="qualified"
           attributeFormDefault="unqualified">

	<!-- =========================
       Raíz y metadatos (Batch)
       ========================= -->
	<xs:element name="GenteFitExport">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="Batch" type="BatchType"/>
				<xs:element name="Usuarios" type="UsuariosType" minOccurs="0"/>
				<xs:element name="Administradores" type="AdministradoresType" minOccurs="0"/>
				<xs:element name="Clientes" type="ClientesType" minOccurs="0"/>
				<xs:element name="MonitorUsuarios" type="MonitorUsuariosType" minOccurs="0"/>
				<xs:element name="Recepcionistas" type="RecepcionistasType" minOccurs="0"/>
				<xs:element name="Actividades" type="ActividadesType" minOccurs="0"/>
				<xs:element name="Horarios" type="HorariosType" minOccurs="0"/>
				<xs:element name="Reservas" type="ReservasType" minOccurs="0"/>
				<xs:element name="ListaEspera" type="ListaEsperaType" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<xs:complexType name="BatchType">
		<xs:sequence>
			<xs:element name="BatchId" type="xs:string"/>
			<xs:element name="Date" type="xs:dateTime"/>
			<xs:element name="Origin" type="xs:string"/>
			<xs:element name="CenterCode" type="xs:string" minOccurs="0"/>
			<xs:element name="User" type="xs:string" minOccurs="0"/>
			<xs:element name="Type" type="xs:string" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>

	<!-- ==============
       Usuarios
       ============== -->
	<xs:complexType name="UsuariosType">
		<xs:sequence>
			<xs:element name="Usuario" type="UsuarioType" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="UsuarioType">
		<xs:sequence>
			<xs:element name="IdUsuario" type="xs:int"/>
			<xs:element name="Nombre" type="xs:string"/>
			<xs:element name="Apellido" type="xs:string" minOccurs="0"/>
			<xs:element name="Nif" type="xs:string" minOccurs="0"/>
			<xs:element name="Rol" type="xs:string" minOccurs="0"/>
			<xs:element name="Username" type="xs:string" minOccurs="0"/>
			<!-- intentionally omitting password from exported data -->
		</xs:sequence>
	</xs:complexType>

	<!-- =================
       Administradores
       ================= -->
	<xs:complexType name="AdministradoresType">
		<xs:sequence>
			<xs:element name="Administrador" type="AdministradorType" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="AdministradorType">
		<xs:sequence>
			<xs:element name="IdUsuario" type="xs:int"/>
			<xs:element name="Nombre" type="xs:string"/>
			<xs:element name="Apellido" type="xs:string" minOccurs="0"/>
			<xs:element name="Nif" type="xs:string" minOccurs="0"/>
			<xs:element name="Username" type="xs:string" minOccurs="0"/>
			<xs:element name="Rol" type="xs:string" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>

	<!-- ==========
       Clientes
       ========== -->
	<xs:complexType name="ClientesType">
		<xs:sequence>
			<xs:element name="Cliente" type="ClienteType" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="ClienteType">
		<xs:sequence>
			<xs:element name="IdUsuario" type="xs:int"/>
			<xs:element name="Nombre" type="xs:string"/>
			<xs:element name="Apellido" type="xs:string" minOccurs="0"/>
			<xs:element name="Nif" type="xs:string" minOccurs="0"/>
			<xs:element name="Username" type="xs:string" minOccurs="0"/>
			<xs:element name="Rol" type="xs:string" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>

	<!-- ====================
       MonitorUsuario
       ==================== -->
	<xs:complexType name="MonitorUsuariosType">
		<xs:sequence>
			<xs:element name="MonitorUsuario" type="MonitorUsuarioType" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="MonitorUsuarioType">
		<xs:sequence>
			<xs:element name="IdUsuario" type="xs:int"/>
			<xs:element name="Nombre" type="xs:string" minOccurs="0"/>
			<xs:element name="Username" type="xs:string" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>

	<!-- ====================
       Recepcionistas
       ==================== -->
	<xs:complexType name="RecepcionistasType">
		<xs:sequence>
			<xs:element name="Recepcionista" type="RecepcionistaType" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="RecepcionistaType">
		<xs:sequence>
			<xs:element name="IdUsuario" type="xs:int"/>
			<xs:element name="Nombre" type="xs:string" minOccurs="0"/>
			<xs:element name="Username" type="xs:string" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>

	<!-- ==============
       Actividades
       ============== -->
	<xs:complexType name="ActividadesType">
		<xs:sequence>
			<xs:element name="Actividad" type="ActividadType" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="ActividadType">
		<xs:sequence>
			<xs:element name="IdActividad" type="xs:int"/>
			<xs:element name="Nombre" type="xs:string"/>
			<xs:element name="Descripcion" type="xs:string" minOccurs="0"/>
			<xs:element name="NivelIntensidad" type="xs:string" minOccurs="0"/>
			<xs:element name="Sala" type="xs:string" minOccurs="0"/>
			<xs:element name="IdMonitor" type="xs:int" minOccurs="0"/>
			<xs:element name="IdEncargado" type="xs:int" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>

	<!-- ==========
       Horarios
       ========== -->
	<xs:complexType name="HorariosType">
		<xs:sequence>
			<xs:element name="Horario" type="HorarioType" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="HorarioType">
		<xs:sequence>
			<xs:element name="IdHorario" type="xs:int"/>
			<xs:element name="IdActividad" type="xs:int"/>
			<xs:element name="DiaSemana" type="xs:string"/>
			<!-- Representamos horas como cadena "HH:MM:SS" -->
			<xs:element name="HoraInicio" type="xs:string"/>
			<xs:element name="HoraFin" type="xs:string"/>
			<xs:element name="PlazasTotales" type="xs:int"/>
			<xs:element name="PlazasOcupadas" type="xs:int"/>
		</xs:sequence>
	</xs:complexType>

	<!-- ==========
       Reservas
       ========== -->
	<xs:complexType name="ReservasType">
		<xs:sequence>
			<xs:element name="Reserva" type="ReservaType" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="ReservaType">
		<xs:sequence>
			<xs:element name="IdReserva" type="xs:int"/>
			<xs:element name="IdCliente" type="xs:int"/>
			<xs:element name="IdHorario" type="xs:int"/>
			<xs:element name="FechaReserva" type="xs:dateTime"/>
			<xs:element name="Estado" type="xs:string" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>

	<!-- ====================
       Lista de Espera
       ==================== -->
	<xs:complexType name="ListaEsperaType">
		<xs:sequence>
			<xs:element name="Item" type="ListaEsperaItemType" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="ListaEsperaItemType">
		<xs:sequence>
			<xs:element name="IdLista" type="xs:int"/>
			<xs:element name="IdCliente" type="xs:int"/>
			<xs:element name="IdHorario" type="xs:int"/>
			<xs:element name="Posicion" type="xs:int"/>
		</xs:sequence>
	</xs:complexType>

</xs:schema>
